.topic-page{position:fixed; top:0; left:0; width:100%; height:100%; z-index:999; background:url(~@/static/images/word/topic_bg.png) no-repeat center center; background-size:100% 100%;}
.topic-page .close-page{width:40upx; height:40upx; background-position:-80upx 0; position:fixed; top:30upx; left:30upx;}
.topic-progress{position:fixed; bottom:30upx; right:30upx;}
.topic-progress .progress-num{display:inline-block; color:#fff; font-size:30upx; line-height:32upx; margin-right:10upx; vertical-align: middle;}
.topic-progress .progress{height:16upx; width:200upx; display:inline-block; background:rgba(0,0,0,.3); border-radius:80upx; font-size:0; vertical-align: middle;} 
.topic-progress .progress .span{height:16upx; display:inline-block; background:#fff; border-radius:80upx; transition:all 1s;} 

/* 退出提示弹窗 */
.close-page-tip-pop{width:640upx; margin:0 auto; background:#fff; border-radius:20upx; position: relative; padding:50upx 0; text-align: center;}
.close-page-tip-pop .close{display:inline-block; width:64upx; height:64upx; position: absolute; top:-20upx; right:-20upx;}
.close-page-tip-pop .close .img{width:100%; height:100%;}
.close-page-tip-pop .title{font-size:48upx; line-height:66upx; font-weight:normal; color:#333; margin-bottom:30upx;}
.close-page-tip-pop .p{color:#242629; font-size:32upx; line-height:44upx; margin:0 30upx 60upx;}
.close-page-tip-pop .pop_btn01{display:block; width:460upx; height:100upx; line-height:100upx; color:#fff; font-size:34upx; border-radius:50upx; box-shadow:0 8upx 28upx 0 rgba(247, 157, 0, 0.5); margin:0 auto 30upx; box-sizing: border-box;  background:-moz-linear-gradient(left,#FFC10A,#FFA100); background: -webkit-linear-gradient(left, #FFC10A, #FFA100);}
.close-page-tip-pop .pop_btn02{display:block; width:460upx; height:100upx; line-height:100upx; color:#FFC10A; font-size:34upx; border-radius:50upx; margin:0 auto 30upx; background:#fff; border:2upx solid #FFC10A; box-sizing: border-box;}
.close-page-tip-pop .pop_btn03{display:block;font-size:32upx; color:#999; padding-top:10upx; text-decoration: underline; line-height:40upx;}

.topic-box{width:100%; height:90%; position: relative; text-align: center; opacity: 0; transition:all 1s;}
.topic-box.box_animate{opacity: 1;}
/* 看图选择01 */
.topic-box01{height:95%;}
.topic-answer-list01 .li{ position: absolute; width:272upx; height:272upx; transition:all .3s; border-radius:100%;}
.topic-answer-list01 .li:before{content:''; display:inline-block; width:100%; height:100%; border-radius:100%; background:rgba(0,0,0,.2); position: absolute; left:0; top:0; z-index:9; transform:scale(1.1,1.1); opacity: 0; }
.topic-answer-list01 .li:nth-child(1){left:50upx; top:100upx;}
.topic-answer-list01 .li:nth-child(2){right:50upx; top:100upx;}
.topic-answer-list01 .li:nth-child(3){left:50upx; bottom:100upx;}
.topic-answer-list01 .li:nth-child(4){right:50upx; bottom:100upx;}
.topic-answer-list01 .li .img{width:100%; height:100%; display:inline-block; border-radius:100%; position: relative; z-index:10;} 
.topic-answer-list01 .li.overlap:before{ opacity: 1; }
.topic-question{position: absolute;left:50%; top:50%; width:300upx; height:220upx; margin-left:-150upx; margin-top:-110upx; border-radius:100%; box-sizing: border-box; padding-top:40upx;  color:#fff; text-align: center; }
.topic-question:before{content:''; display:inline-block; width:200upx; height:200upx; margin-left:-100upx; margin-top:-100upx; border-radius:100%; background:rgba(0,0,0,.3); position: absolute; left:50%; top:50%; z-index:9; transform:scale(1,1); opacity: 0;}
.topic-question .h3{font-size:56upx; line-height:80upx; position: relative; z-index:10; }
.topic-question .p{font-size:32upx; line-height:44upx; position: relative;; z-index:10;}
.ico-hand{display:inline-block; width:100upx; height:144upx; background:url(~@/static/images/word/ico-hand.png) no-repeat; background-size:100% 100%; position:absolute; top:50%; left:50%; margin-left:-50upx; margin-top:10upx; z-index:101; display:none;}

.topic-question.no_drap:before{ opacity: 1; animation: flicker 5s linear 0s infinite normal;}
.topic-box.static .ico-hand{  animation: handTip 2.5s linear 0s infinite normal; display:block;}

@keyframes handTip{
    0%{ opacity: 1; }
    1%{ top:50%; left:50%; opacity: 1;}
    50%{top:80%; left:25%;opacity: 1;}
    55%{top:80%; left:25%;opacity: 0;}
    100%{top:50%; left:50%;opacity: 0;}
}

@keyframes flicker{
    0%{transform:scale(0,0); opacity: 0;}
    50%{transform:scale(0,0); opacity: 1;}
    65%{transform:scale(2,2); opacity: .1;}
    70%{transform:scale(2,2); opacity: 0;}
    75%{transform:scale(0,0); opacity: 0;}
    80%{transform:scale(0,0); opacity: 1;}
    95%{transform:scale(2,2); opacity: .1;}
    100%{transform:scale(2,2); opacity: 0;}
}

/* 02-排序题 */
.topic-box02{padding-top:120upx;}
.topic-box02 .ques-img{width:420upx; height:420upx;}
.topic-question-list02{display:block; width:100%; color:#fff; height:calc(100% - 450upx); position: relative; z-index:999;}
.topic-question-list02 .li{display:inline-block; position: absolute; left:30upx; top:30upx; width:112upx; height:112upx;}
.topic-question-list02 .li:before{content:''; display:inline-block; width:100%; height:100%; background:rgba(255, 255, 255, .1); border-radius:100%; position: absolute; left:0; top:0; transition:all .3s;}
.topic-question-list02 .li .span{display:inline-block; width:112upx; height:112upx; border-radius:100%; font-size:56upx;  text-align: center; line-height:112upx; transition:all .3s; }
.topic-question-list02 .li.hover:before{background:rgba(255,255,255,.3); transform: scale(1.1,1.1);}
.topic-answer-list02{position: absolute; bottom:0; left:50upx; width:650upx; height:120upx; box-sizing: border-box; border:2upx solid #fff; padding-top:20upx;  transition:all .3s;}
.topic-answer-list02 .li{display:inline-block; width:80upx; height:80upx; line-height:80upx; border-bottom:2upx solid #fff; vertical-align: top; color:#fff; font-size:52upx; margin:0 5upx;} 
.topic-answer-list02.overlap{ border-color:#FFC10A; background:rgba(255,255,255,.3); }

/* 03-判断题 */
.topic-box03{position: relative; box-sizing: border-box; padding-top:200upx;}
.topic-box03 .question-box{display:block; width:520upx; height:520upx; background:rgba(255, 255, 255, .2); border-radius:100%; box-sizing: border-box; padding-top:40upx; margin:0 auto 0;}
.topic-box03 .question-box .img{display:inline-block; width:272upx; height:272upx;}
.topic-box03 .question-box .h3{font-size:56upx; line-height:80upx; color:#fff;}
.topic-box03 .question-box .p{font-size:32upx; line-height:48upx; color:#fff;}
.topic-box03 .answer-box{position: absolute;bottom:80upx; left:0; width:100%; text-align: center;}
.topic-box03 .answer-box .btn{display:inline-block; width:144upx; height:144upx; box-sizing: border-box; border:4upx solid #fff; border-radius:100%; padding:43upx; vertical-align: top;}
.topic-box03 .answer-box .btn .ico-mistake{width:50upx; height:50upx; background-position: 0 -80upx;}
.topic-box03 .answer-box .btn .ico-correct{width:50upx; height:50upx; background-position: -50upx -80upx;}
.topic-box03 .answer-box .txt{font-size:32upx; color:#fff; line-height:144upx; vertical-align: top; margin:0 80upx;}
.topic-box03 .answer-box .btn:active,
.topic-box03 .answer-box .btn.hover{background:rgba(255,255,255,.5);}


.animated { -webkit-animation-duration: .6s; animation-duration: .6s; -webkit-animation-fill-mode: both; animation-fill-mode: both; z-index: 100; }
.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite }
.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s }
/* @-webkit-keyframes shake {
0%, 100% {-webkit-transform:translateX(0);transform:translateX(0)}
10%, 30%, 50%, 70%, 90% {-webkit-transform:translateX(-10px);transform:translateX(-10px)}
20%, 40%, 60%, 80% {-webkit-transform:translateX(10px);transform:translateX(10px)}
} */
@keyframes shake {
0% {-webkit-transform:translateX(0);transform:translateX(0)}
30% {-webkit-transform:translateX(-20px);transform:translateX(-20px)}
45%{-webkit-transform:translateX(20px);transform:translateX(20px)}
55%  {-webkit-transform:translateX(-10px);transform:translateX(-10px)}
70% {-webkit-transform:translateX(10px);transform:translateX(10px)}
80% {-webkit-transform:translateX(-5px);transform:translateX(-5px)}
100% {-webkit-transform:translateX(0);transform:translateX(0)}
}
.shake { -webkit-animation-name: shake; animation-name: shake }

@keyframes spanHover {
    0%  {transform:scale(1,1); background:rgba(255,255,255,.5);}
    100%{transform:scale(1.2,1.2);background:rgba(255,255,255,.5);}
}

/* 题目介绍和答案 */
.topic-answer{text-align: center; position:fixed; left:0; top:50%; width:100%; height:640upx; margin-top:-320upx;  color:#fff; }
.topic-answer .txt{position:relative; transform:translateY(-4upx); transition:all .2s; opacity: 0;}
.topic-answer .h3{font-size:80upx; line-height:110upx; }
.topic-answer .p{font-size:40upx; line-height:56upx; margin-bottom:50upx;}
.topic-answer .img{width:420upx; height:420upx; display: inline-block; position:relative; transform:translateY(400upx); transition:all .2s; opacity: 0; font-size:36upx; color:#fff;}
.learn_btn{display:block; width:420upx; height:110upx;line-height:106upx; text-align: center; border-radius:55upx; border:2upx solid #fff; box-sizing: border-box; margin:0 auto 0; color:#fff; transition:all .4s linear .2s; opacity: 0;}
.learn_btn:active{background:rgba(255,255,255,.2);}

.topic-answer.s-animate .txt{transform:translateY(-80upx); opacity: 1;}
.topic-answer.s-animate img{transform:translateY(-80upx); opacity: 1;}
.topic-answer.s-animate .learn_btn{opacity:1;}


html,body,#app{width:100%; height:100%;}
/* 成功页 */
.topic-success{width:100%; height:95%;position:fixed; left:0; top:0;}
.topic-success .success-icon{ display:inline-block; width:360upx; height:360upx; padding:80upx; background:rgba(255, 255, 255, .1); border-radius:100%;  text-align: center; font-size:0; position: absolute; left:50%; top:50%; margin-left:-175upx; margin-top:-175upx; transform:scale(0,0); transition:all .2s;}
.topic-success .success-icon .img{width:200upx; height:200upx; display: inline-block;}
.topic-success .success-icon.s-animate{ transform:scale(1,1);}



