
page{background:url(~@/static/images/subject_bg.jpg) no-repeat center center; background-size:100% 100%; width:100%; height:100%; overflow: hidden;}
.subject_mdl{
	width:100%; height:100%; padding-top:170upx; box-sizing: border-box; opacity:0; transition:all 1s;
}
.subject_mdl.show{opacity:1;}
.subject_mdl .audio_btn{ width:150upx; height:150upx; }
.subject_mdl .audio_btn .img{width:100%; height:100%;}
.subject_mdl .audio_btn.audio_center{margin:0 auto;}
.subject_mdl .audio_btn.audio_btm{position:fixed; bottom:40upx; left:50%; margin-left:-75upx;}
.subject_mdl .submit_btn{position:fixed; bottom:0; left:0; width:100%; height:100upx; line-height:100upx; font-size:40upx; color:#fff; text-align: center; transform:translateY(100upx); transition:all .3s;
background:-moz-linear-gradient(left,#ffc10a,#e98c00);/*火狐*/
background: -webkit-linear-gradient(left, #ffc10a, #e98c00);
}
.subject_mdl .submit_btn:active{
background:-moz-linear-gradient(left,#e98c00,#ffc10a);/*火狐*/
background: -webkit-linear-gradient(left, #e98c00, #ffc10a);	
}
.tyxt_answer{font-size: 40upx; color: #fff; text-align: center; line-height: 60upx; margin: 0 60upx 30upx;}

.subject_mask_btn{text-align: center; padding:0 150upx;}
.subject_mask_btn .btn{display:block; height:100upx; line-height:100upx; color:#fff; font-size:36upx; text-align: center; border-radius:50upx; background:#35AFFF; margin:50upx 0;}

/*开始弹窗*/
.start_pop{width:650upx; background:#fff; margin:0 auto; border-radius:40upx; padding-bottom:60upx; text-align: center;}
.start_pop .top_img{width:100%; margin-bottom:20upx;}
.start_pop .h3{text-align: center; font-size:46upx; font-weight: bold; color:#000; margin-bottom:20upx;}
.start_pop  .p{color:#5b5b5b; font-size:32upx; text-align: center; line-height:44upx;}
.start_pop .btn{display:inline-block; height:100upx; line-height:100upx; text-align: center; font-size:40upx; color:#fff; width:470upx; border-radius:50upx; margin-top:50upx; box-shadow:8upx 0 28upx rgba(247, 157, 0, 0.5);
	background:-moz-linear-gradient(left,rgba(255, 193, 10, 1),rgba(255, 161, 0, 1));
background: -webkit-linear-gradient(left, rgba(255, 193, 10, 1), rgba(255, 161, 0, 1));
}

/*测试题通用头部*/
.subject_head{height:88upx; position:fixed; top:30upx; left:0; width:100%;}
.subject_head .progress{height:100%; width:50%; position:absolute; left:0; top:0; transition:all .3s;
background:-moz-linear-gradient(left,rgba(65,132,144,.3),rgba(59,225,237,.3)); 
background: -webkit-linear-gradient(left, rgba(65,132,144,.3),rgba(59,225,237,.3)); 
}
.subject_head .right_txt{float:right; font-size:28upx; color:#c0cfda; line-height:88upx; padding-right:30upx;}
.subject_head .right_txt .ico_tip{display:inline-block; width:30upx; height:30upx; background-position: -190upx -60upx;}
.subject_head .play_btn {float:left; margin-left:30upx; width:60upx; height:60upx; margin-top:14upx; text-align: center; line-height:48upx; position:relative;}
.subject_head .play_btn .ico_pause{background-position:-350upx 0; width:50upx; height:50upx; position:absolute; top:5upx; left:6upx;}
.subject_head .play_btn .u_jd{width:100%; height:100%; position:absolute; left:0; top:0;}
.subject_head .play_btn .u_jd canvas{width:100%; height:100%;}
.subject_head .txt_jf{display:block; overflow: hidden; text-align: center; color:#849fb2; font-size:28upx; line-height:88upx;}
.subject_head .txt_jf .ico_jf{display:inline-block; width:40upx; height:40upx; background-position: -0 -250upx; position:relative; left:12upx; top:-4upx;}
.subject_head .txt_jf .span{color:#ffc10a; font-weight:bold; font-size:38upx;}

/*选择按钮*/
.answer_btn01{position:fixed; bottom:60upx; left:10%; width:80%;transform:translateY(0); transition: all .3s;}
.answer_btn01 .li{height:100upx; line-height:100upx; border-radius:50upx; margin-top:30upx; background:#1788d2; text-align: center; color:#fff; font-size:36upx; position:relative; transition:all .3s;}
.answer_btn01 .li span{position:relative; display:inline-block; height:100%; }
.answer_btn01 .li.act .ico_gou{width:50upx; height:50upx; background-position:-400upx 0; position:absolute; right:-60upx; top:25upx; }
.answer_btn02{position:fixed; bottom:60upx; left:0; width:100%; padding:0 10%; transform:translateY(0); transition: all .3s;}
.answer_btn02 .li{display:inline-block; height:70upx; line-height:70upx; border-radius:35upx; padding:0 30upx; background:#1788d2; text-align: center;color:#fff; font-size:32upx; margin-right:20upx; margin-bottom:20upx;}
.answer_btn02 .li.act{opacity:.5;}
.answer_btn03{position:fixed; bottom:100upx; left:10%; width:80%; display:flex;  flex-flow:row nowrap;}
.answer_btn03 .li{display:inline-flex; width:100%; text-align: center; transtion:all .3s;}
.answer_btn03 .li .span{display:block; margin:0 auto; height:144upx; line-height:144upx; border-radius:100%; width:144upx; background:#1788d2; text-align: center;color:#fff; font-size:44upx; }
.answer_btn03 .li.df{opacity:0;}
.answer_btn01 .li.act,
.answer_btn03 .li.act .span{
background:-moz-linear-gradient(left,#ffc10a,#ffa100); /*火狐*/
background: -webkit-linear-gradient(left, #ffc10a, #ffa100);}

.subject_mdl .subject_act .answer_btm{ transform:translateY(-.5upx);}
.subject_mdl .subject_act .submit_btn{ transform:translateY(0);}

/*听音选图*/
.tyxt_list{ text-align: center;}
.tyxt_list .li{font-size:0; margin:0 auto 40upx; position:relative; width:400upx; height:240upx; border-radius:10upx; overflow: hidden;}
.tyxt_list .li .img{width:100%; height:100%;}
.tyxt_list .li .mask{position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(59,225,237,.8); text-align: center; box-sizing: border-box; padding-top:75upx; display:none;}
.tyxt_list .li .mask .ico_gou{display:inline-block; width:114upx; height:92upx; background:url(~@/static/images/ico_gou.png) no-repeat; background-size:100% 100%;}
.tyxt_list .li.act .mask{display:block;}


/*听音选择*/
.tyxz_img{text-align: center; margin-bottom:20upx;}
.tyxz_img .img{width:620upx; padding:20upx; border-radius:20upx; background:#fff;}
.tyxz_text{font-size:40upx; color:#fff; text-align: center; line-height:60upx; margin:0 60upx 30upx;}
.tyxz_text .p{display:inline-block;}
.tyxz_text .span{border-bottom:2upx solid #98c9f4; display:inline-block; width:120upx; height:68upx; padding-top:8upx; line-height:60upx; margin:0 10upx; vertical-align: bottom; color:#ffc10a; font-size:40upx;}
.tyxz_btn{margin:0 auto; display:block;}


/*测试结果页面*/
.subject_result{width:100%; height:100%; position:relative;  text-align: center; background-size:100% 100%;}
.result_main{width:720upx; height:1030upx; position:relative; top:130upx; margin:0 auto 130upx; text-align: center; padding-top:220upx; background-size:100% 100%;}

.star_list{position:absolute; left:0; top:40upx; width:100%; text-align: center;}
.star_list span{display:inline-block; width:160upx; height:160upx; background:url(~@/static/images/star.png) no-repeat; background-size: 100% 100%; margin:20upx 10upx 0; vertical-align: top;}
.star_list span:nth-child(2){margin-top:0;}
.star_list span.act{background-image:url(~@/static/images/star_cur.png);}
.result_main .store{font-size:144upx; color:#FF5555; font-weight:bold; margin-top:-40upx;}
.result_main .tit{font-size:60upx; color:#ff5555; position:relative; padding-bottom:20upx; line-height:80upx; margin-bottom:20upx;}
.result_main .tit2{font-size:44upx; color:#ffae00;}
.result_main .tit:after{content:''; display:inline-block; width:80upx; height:4upx; background:#ff5555; position:absolute; bottom:0; left:50%; margin-left:-40upx;}
.result_main .jf_txt{font-size:44upx; color:#ffc10a;}
.result_main .jf_txt .ico_jf{width:34upx; height:40upx; background:url(~@/static/images/ico_jf.png) no-repeat; background-size:100% 100%;}

.describe_box{width:590upx; background:#fff0d9; margin:130upx auto 0; border-radius:20upx; padding:60upx 25upx 0; height:310upx; position:relative;}
.describe_box .per_img{width:128upx; height:128upx; border:6upx solid #ffdd78; border-radius:100%; position:absolute; top:-80upx; left:50%; margin-left:-64upx;}
.describe_box .name{color:#777777; font-size:28upx; margin-bottom:2upx;}
.describe_box .des{position:relative;}
.describe_box .des .yh_img{width:96upx; height:86upx; position:absolute; top:-50upx; left:0;}
.describe_box .des span{display:block; text-indent:3.5em; line-height:44upx; font-size:32upx; color:#242629;  text-align: left;}
.describe_box .date{text-align:right; margin-top:50upx; font-size:28upx; color:#777777;}
.des_txt{width:590upx; background:#fff0d9; border-radius:20upx; padding:30upx; margin:0 auto; color:#777777; line-height:40upx; font-size:28upx;}

.line_tit{margin:60upx 0 40upx; }
.line_tit span{ text-align: center; font-size:28upx; color:#777777; line-height:40upx; height:40upx; }
.line_tit span:before{content:'————'; color:#d7d7d7; display:inline-block; font-size:24upx; line-height:40upx; margin-right:30upx;}
.line_tit span:after{content:'————'; color:#d7d7d7; display:inline-block; font-size:24upx; line-height:24upx; margin-left:30upx; vertical-align: middle;}
.score_box{width:100%; padding:0 40upx; -webkit-overflow-scrolling: touch; padding-bottom:30upx;}
.score_list li{float:left; display:inline-block; min-width:130upx; height:120upx; border-radius:10upx; border-bottom:8upx solid #ffb441; background:#fff; text-align: center; margin:0 15upx; box-shadow:6upx 0 20upx rgba(255,180,65,.32);}
.score_list li span{display:block; font-size:36upx; line-height:60upx; color:#ffb441; padding:30upx 15upx;}
.score_list li p{font-size:26upx; color:#999999; position:relative; padding:15upx 15upx 0;}
.score_list li p:before{content:''; display:inline-block; width:44upx; height:2upx; background:#e3e3e3; position:absolute; top:0; left:50%; margin-left:-22upx;}
.score_list li.green{border-bottom-color:#63d554; box-shadow:6upx 0 20upx rgba(99,213,84,.32);}
.score_list li.green span{color:#63d554}
.score_list li.blue{border-bottom-color:#4ca6fe; box-shadow:6upx 0 20upx rgba(76,166,254,.32);}
.score_list li.blue span{color:#4ca6fe}
.score_list li.red{border-bottom-color:#ff6666; box-shadow:6upx 0 20upx rgba(255,102,102,.32);}
.score_list li.red span{color:#ff6666}

.share_btn{display:inline-block; width:140upx; height:140upx; background:rgba(255,255,255,.8); color:#242629; border-radius:100%; padding:20upx 0; box-shadow: 8upx 0 26upx rgba(0,0,0,.12); transition:all .3s; text-align: center;}
.share_btn .ico_share{width:60upx; height:60upx; background-position: -240upx -100upx; margin-bottom:10upx; }
.share_btn span{display:block; font-size:26upx;}
.share_btn:active{transform:scale(.9,.9);}
.subject_result .btm_btn{width:590upx; height:100upx; line-height:100upx; display:block; margin:0 auto; font-size:34upx; text-align: center;color:#fff; border-radius:50upx;
background:-moz-linear-gradient(left,rgba(255,158,20,.8),rgba(255,130,0,.8)); 
background: -webkit-linear-gradient(left,rgba(255,158,20,.8),rgba(255,130,0,.8));
}
.subject_result .btm_btn:active{
background:-moz-linear-gradient(left,rgba(255,158,20,1),rgba(255,130,0,1)); 
background: -webkit-linear-gradient(left,rgba(255,158,20,1),rgba(255,130,0,1));
}

.result_success{background-image:url(~@/static/images/result_bg01.png);}
.result_success .result_main{background-image:url(~@/static/images/result_ctn01.png) ;}
.result_success .result_main.bg02{background-image:url(~@/static/images/result_ctn03.png) ;}

.result_unsuccess{background-image:url(~@/static/images/result_bg02.png);}
.result_unsuccess .result_main{background-image:url(~@/static/images/result_ctn02.png) ;}
.result_unsuccess .result_main.bg02{background-image:url(~@/static/images/result_ctn04.png) ;}
.result_unsuccess .result_main .store{color:#3ac148;}
.result_unsuccess .result_main .tit{color:#3ac148;}
.result_unsuccess .result_main .tit2{color:#64C7CF;}
.result_unsuccess .result_main .tit:after{background:#3ac148;}
.result_unsuccess .describe_box{background:#dff6f8;}
.result_unsuccess .describe_box .per_img{border-color:#94eef5;}
.result_unsuccess .des_txt{background:#dff6f8;}
.result_unsuccess .btm_btn{
background:-moz-linear-gradient(left,rgba(64,213,82,.8),rgba(64,197,79,.8)); 
background: -webkit-linear-gradient(left,rgba(64,213,82,.8),rgba(64,197,79,.8));
}
.result_unsuccess .btm_btn:active{
background:-moz-linear-gradient(left,rgba(64,213,82,1),rgba(64,197,79,1)); 
background: -webkit-linear-gradient(left,rgba(64,213,82,1),rgba(64,197,79,1));
}

/*圆环*/
.cirqueBox{ position: absolute; left:0; top:0; width: 60upx; height: 60upx; border-radius: 50%; -webkit-mask: radial-gradient(transparent, transparent 25upx, #000 0); mask: radial-gradient(transparent 25upx, #000 0);}
.cirqueYellow{ position: absolute; width:100%; height: 100%; left:0; top:0; background-color:rgba(255, 193, 10, 1); z-index: 1;}
.cirqueGrey{ position: absolute; width:100%; height: 100%; left:0; top:0; background-color:rgba(255, 255, 255, 1); z-index: 2; 
	animation:mymove 10s linear infinite; -webkit-animation:mymove 10s linear infinite; 
	animation-play-state:paused; -webkit-animation-play-state:paused;
}
.cirqueGrey.play{animation-play-state:running; -webkit-animation-play-state:running;}
@keyframes mymove
{
	0%   {
		clip-path: polygon(30upx 30upx, 30upx -128upx, -128upx 30upx, 30upx 188upx, 188upx 30upx, 30upx -128upx);
	}
	25%   {
		clip-path: polygon(30upx 30upx, 30upx -128upx, -128upx 30upx, 30upx 188upx, 188upx 30upx, 188upx 30upx);
	}
	50%   {
		clip-path: polygon(30upx 30upx, 30upx -128upx, -128upx 30upx, 30upx 188upx, 30upx 188upx, 30upx 188upx);
	}
	75%   {
		clip-path: polygon(30upx 30upx, 30upx -128upx, -128upx 30upx, -128upx 30upx, -128upx 30upx, -128upx 30upx);
	}
	100%   {
		clip-path: polygon(30upx 30upx, 30upx -128upx, 30upx -128upx, 30upx -128upx, 30upx -128upx, 30upx -128upx);
	}
}
@-webkit-keyframes mymove
{
	0%   {
		-webkit-clip-path: polygon(30upx 30upx, 30upx -128upx, -128upx 30upx, 30upx 188upx, 188upx 30upx, 30upx -128upx);
	}
	25%   {
		-webkit-clip-path: polygon(30upx 30upx, 30upx -128upx, -128upx 30upx, 30upx 188upx, 188upx 30upx, 188upx 30upx);
	}
	50%   {
		-webkit-clip-path: polygon(30upx 30upx, 30upx -128upx, -128upx 30upx, 30upx 188upx, 30upx 188upx, 30upx 188upx);
	}
	75%   {
		-webkit-clip-path: polygon(30upx 30upx, 30upx -128upx, -128upx 30upx, -128upx 30upx, -128upx 30upx, -128upx 30upx);
	}
	100%   {
		-webkit-clip-path: polygon(30upx 30upx, 30upx -128upx, 30upx -128upx, 30upx -128upx, 30upx -128upx, 30upx -128upx);
	}
}





























